# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage/
/test-results/
/playwright-report/

# local environment and persistent application data
.env*
!.env.example
!.env.portainer.example
/.data/
/data/

# misc
.DS_Store
*.pem
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
